$theme-background-color: rgb(68, 68, 68)!default;
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100%;
}

.md-list {
  padding: 0!important;
  color: #fff!important;
  background-color: #189BFA!important; 
}

.md-menu-content.md-select-content.md-theme-default.md-size-0.md-direction-bottom-right.md-active {
  left: 584px!important;
  z-index: 999;
}

.md-tooltip {
  padding: 2px 20px!important;
  font-size: 12px!important;
}

.input-container-style {
  margin: 0!important;
  padding-top: 0!important;
  min-height: 0!important;
}

.button-add-offset{
  justify-content: flex-end;
}

.md-toolbar-container {
  justify-content: center;
  align-self: auto;
  .md-title {
    font-size: 24px!important;    
  }
}

.md-toolbar {
  background-color: #E84A5F!important;
}

.inputThemeBlack {
  background-color: $theme-background-color;
  color: rgb(214, 219, 223)!important;
}

.outputThemeBlack {
  background-color: $theme-background-color;
  * {
    color: rgb(214, 219, 223)!important;
  }
}

.fontWhile {
  * {
    color: rgb(214, 219, 223)!important;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #E84A5F;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: rgba(211, 211, 211, 0.18);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
