.button-color {
  background-color: #189BFA!important;
}

.sidenav-main {
  box-shadow: 0 1px 8px rgba(0,0,0,.2), 0 3px 4px rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
  height: 64px;
  .font-underline {
    &:after {
      background-color: transparent!important;
    }
  }
}

