.output-main {
  overflow: auto; 
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  font-size: 18px;
  border: none;
  resize: none;
  color: #34495e;
  text-align: justify;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
