.toolbar-color {
  background-color: #FFCFDF!important;
}

.button-color {
  font-weight: 800!important;
  background-color: #95E1D3!important;
}

.button-add {
  left: 40%;
}

.md-list {
  padding: 0!important;
  color: #fff!important;
  background-color: #95E1D3!important; 
}

.md-menu-content.md-select-content.md-theme-default.md-size-0.md-direction-bottom-right.md-active {
  left: 584px!important;
}

.button-add-offset{
  justify-content: space-around;
}

.sidenav-main {
  box-shadow: 0 1px 8px rgba(0,0,0,.2), 0 3px 4px rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
  .font-color {
    color: #fff!important;
  }
  .font-underline {
    &:after {
      background-color: transparent!important;
    }
  }
}

